body {
  background-image: url('images/background/sc1.avif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
    background-color: rgb(221, 60, 60);
    width: 100px;
    height: 100px;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}



