body {
  text-align: center;
  background-image: url('images/background/bgfix.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;

}

h1,
h3,
p {
  font-size: 20px;
}

.bot-cards img,
.my-cards img {
  width: 150px;
  margin: 1px;
}

button {
  width: 150px;
  font-size: 16px;
  margin: 2px;
}
