* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}


nav {
    display: flex;/*untuk mengubah perilaku elemen flex memungkinkan pengaturan tata letak yang fleksibel untuk elmen" anak didalamnya*/ 
    background-color: orange;
    justify-content: center; /*untul mengatur elemen dalam sebuah container akan sejajar atau terdistribusi*/
    position: fixed;/*agar saat di gulir dia akan tetap pada posisinya*/
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
}


a{
    padding: 30px;
    text-decoration: none;
    color: white;
}


a:hover{
    background-color: yellow;
}


.about{
    margin: 10px 200px;
    padding-top: 100px;
    text-align: justify;/*akan mengatur posisi horizontal pada teks justify akan mengatur teks sehingga teks yang sebelah kiri dan kanan akan sejajar*/
    min-width: 400px;
    max-width: 1210px;
        
}


.image-container{
    /* display: grid; */
    /* overflow: visible;
    position: relative; */
    /* display: flex;
    flex-wrap: wrap; */
    /* gap: 10px; */
    /* justify-content: center;
    align-items: center; */
}


img{
   margin: 10px;
}

.image-container img{
    width: 300px;
    height: auto;
    /* transform-origin: center; */
    /* transition: transform 0.3s ease, opacity 0.3s ease; */
}

.image-container img:hover{
    transform: scale(1.1);
    opacity: 0.8;
}

.allimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    /* grid-template-columns: repeat(3, 1fr); elemen akan ditampilkan seperti elemen inline tapi masih dapat diatur sebagai */
    /* overflow: hidden; */
 
}

.allimg :hover{
    /* transform: scale(1.1);
    opacity: 0.8; */
    transform: scale(1.1); /*untuk mengubah elemen secara visual*/
    transition: all 1.1s; /* mengendalikan animasi perubahan nilai properti pada elemen*/
}

footer {
    display: flex;
    justify-content: space-between;/* elemen awal kan berada di awal dan elemen yang akhir akan berada di akhir*/
    color: white;
    background-color: green;
    width: auto;
    align-items: center;
    right: 100%;
    
    /* right: 0;
    z-index: 10px; */
}


.logo{
    margin: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}


.logo img{
    width: 110px;
}


.Contact {
    /* padding: 20px; */
    margin : 20px;
    padding-right: 25px;
    /* display: flex; */
    /* justify-content: center; */
    /* margin-left: 100px; */
}

.Contact p {
    margin: 10;
}


@media only screen and (max-width: 755px){
    footer{
        flex-direction: column;
        text-align: center;
    }

    .logo{
        margin: 20px;
    }
    
    .contact{
        margin-right: 0;
    } 
    .about{
        margin: 20px;
        padding: 30px;
    }
    .allimg{
        grid-template-columns: repeat(2, 1fr) ;
        align-content: center;
        /* padding: 30px;
        margin-left: 20px; */
    }
}

@media screen and (max-width: 586px) {
    footer{
        flex-direction: column;
        text-align: center;
    }

    .logo{
        margin: 20px;
    }
    
    .contact{
        margin-right: 0;
    }
    .about{
        margin: 20px ;
        padding: 30px;
    }
    .allimg{
        grid-template-columns: repeat(1, 1fr) ;
        /* padding: 30px;
        margin-left: 20px; */
    }
}
    